<header class="header__lybrary">
  <div class="container">
    <div class="header__container">
      <a href="./index.html" class="header__logo--link link">
        <svg class="header__icon" width="24" height="24">
          <use href="./images/sprite.svg#film"></use>
        </svg>
        <span class="header__logo--text"> Filmoteka </span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item list">
            <a class="nav__link link" href="./index.html"> Home </a>
          </li>
          <li class="nav__item list">
            <a
              class="nav__link link nav__link--current link"
              href="./library.html"
            >
              My library
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
