<header class="header__lybrary">
  <div class="container">
    <div class="header__container">
      <a href="./index.html" class="header__logo--link link">
        <svg class="header__icon" width="24" height="24">
          <use href="./images/sprite.svg#film"></use>
        </svg>
        <span class="header__logo--text"> Filmoteka </span>
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item list">
            <a class="nav__link link" href="./index.html"> Home </a>
          </li>
          <li class="nav__item list">
            <a
              class="nav__link link nav__link--current link library__link"
              href="./library.html"
            >
              My library
            </a>
          </li>
        </ul>
      </nav>
      <!-- dark/lite theme -->
      <div class="theme__container theme-js">
        <div class="toggle toggle-js">
          <div class="toggle-button toggle__btn-js"></div>
        </div>
        <div class="theme__dark dark-js">light</div>
      </div>
    </div>

    <div class="button__box">
      <button class="watched_button" type="button">Watched</button>
      <button class="queue_button" type="button">Queue</button>
    </div>
  </div>
</header>
